.calendar {
}

.item {
    display: flex;
    flex: 1 1 14%;
    box-sizing: border-box;
}

.daysOfTheWeekContainer {
    display: flex;
}

.dayOfTheWeek {
    justify-content: flex-start;
    padding: 1vmax 1vmin;
    font-size: calc(10px + 2vmin);
    color: #fff;
    background-color: #282c34;
}

.month {
    display: flex;
    flex-wrap: wrap;
}

.dateContainer {
    flex-direction: column;
    align-items: flex-start;
    height: 8vmin;
    padding: 1vmin;
    cursor: pointer;
    font-size: calc(8px + 2vmin);
    color: #fff;
    background-color: #282c34;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.dateContainer:hover {
    color: #282c34;
    background-color: #eee;
}

.today {
    color: #5E978A;
}

.weekend {
    color: #EE786F;
}

.notThisMonth {
    color: #7B8694;
}

.weekend.notThisMonth {
    color: #B5504A;
}

.date {
}

.activities {
    display: none;
    font-size: 2vmin;
}

@media screen and (min-width: 900px) {

    .activities {
        display: block;
    }

    .dateContainer {
        font-size: 2vmin;
    }
}
