@import './styles/variables.css';

:root {
    --header-height-padding: 20px;
}

.app {

}

.header {
    background-color: var(--color-gray-dark);
    font-size: var(--font-size-extra);
    color: white;
    flex: 1 1 auto;
    padding: var(--header-height-padding) var(--default-padding);
}
