:root {
    --title: 18px;
    --item-font-size: 16px;
    --activities-font-size: 16px;
    --month-name-margin-bottom: 10px;
}

.month {
    background-color: #282c34;
    padding: 0 10px 40px;
}

.monthName {
    color: #fff;
    font-size: var(--title);
    margin-bottom: var(--month-name-margin-bottom);
}

.item {
    display: flex;
    flex: 1 1 13%;
    font-size: var(--item-font-size);
}

.daysOfTheWeekContainer {
    display: flex;
}

.dayOfTheWeekItem {
    color: #fff;
    align-items: center;
}

.dayOfTheWeekItem:before {
    content: "";
    float: left;
    padding-top: 100%;
}

.datesContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.dateWrapper {
    color: #fff;
    cursor: pointer;
    display: flex;
    /*border: 1px solid rgba(255, 255, 255, 0.05);*/
}

.dateWrapper:before {
    content: "";
    float: left;
    padding-top: 100%;
}

.dateWrapper:hover {
    color: #282c34;
    background-color: #eee;
}

.today {
    color: #5E978A;
}

.weekend {
    color: #EE786F;
}

.notThisMonth {
    color: #7B8694;
}

.weekend.notThisMonth {
    color: #B5504A;
}

.activities {
    display: none;
    font-size: var(--activities-font-size);
}


@media (min-width: 992px) {
    .activities {
        display: block;
    }
}
