@import '../../styles/variables.css';

:root {
    --title-font-size: var(--default-font-size-large);
    --item-font-size: var(--default-font-size);
    --activities-font-size: var(--default-font-size-small);
    --month-name-margin-bottom: 10px;
}

.month {
    background-color: #282c34;
    padding: 0 var(--default-padding) 40px;
}

.monthName {
    color: #fff;
    font-size: var(--title-font-size);
    margin-bottom: var(--month-name-margin-bottom);
}

.item {
    display: flex;
    flex: 1 1 13%;
    font-size: var(--item-font-size);
}

.daysOfTheWeekContainer {
    display: flex;
}

.dayOfTheWeekItem {
    color: #fff;
    align-items: center;
}

.dayOfTheWeekItem:before {
    content: "";
    float: left;
    padding-top: 40px;
}

.datesContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.dateWrapper {
    color: #fff;
    cursor: pointer;
    display: flex;
}

.dateWrapper:before {
    content: "";
    float: left;
    padding-top: 100%;
}

.dateWrapper:hover {
    color: #282c34;
    background-color: #eee;
}

.bordered {
    border: 1px solid rgba(255, 255, 255, 0.05);
}
.today {
    color: #5E978A;
}

.weekend {
    color: #EE786F;
}

.notThisMonth {
    color: #7B8694;
}

.weekend.notThisMonth {
    color: #B5504A;
}

.activities {
    display: none;
    font-size: var(--activities-font-size);
}


@media (min-width: 992px) {
    .activities {
        display: block;
    }
}
